In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Transformed_Housing_Data= pd.read_csv('Transformed_Housing_Data2.csv')

In [3]:
Y=Transformed_Housing_Data.iloc[:,0]

In [14]:
#independent
X=Transformed_Housing_Data.iloc[:,1:31]

In [15]:
X.head(5)

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,63,...,0,0,0,0,0,0,0,0,0,0
1,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,67,...,0,0,1,0,0,0,0,0,0,0
2,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,85,...,0,0,1,0,0,0,0,0,0,0
3,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,53,...,0,0,0,1,0,0,0,0,0,0
4,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,31,...,0,0,0,0,1,0,0,0,0,0

In [17]:
Y.head(5)

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: Sale_Price, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.3)

In [20]:
X_train

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
9602,4,1.75,1720.0,8750.0,1.0,0,7,860.0,860,47,...,0,0,0,1,0,0,0,0,0,0
10113,5,3.00,3640.0,6930.0,2.0,0,8,3640.0,0,14,...,0,1,0,0,0,0,0,0,0,0
13472,4,1.75,1430.0,4096.0,2.0,0,7,1430.0,0,118,...,0,0,0,0,1,0,0,0,0,0
1563,4,2.50,3720.0,35000.0,2.0,0,10,3720.0,0,35,...,0,0,0,1,0,0,0,0,0,0
11880,3,1.75,2030.0,17100.0,1.0,0,7,2030.0,0,65,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9698,5,1.75,2840.0,10220.0,1.0,0,7,2210.0,630,64,...,0,0,0,0,1,0,0,0,0,0
20931,3,3.25,3530.0,4920.0,2.0,0,9,2660.0,870,3,...,0,0,0,0,0,0,1,0,0,0
15904,4,2.50,2460.0,5091.0,2.0,0,9,2460.0,0,15,...,0,1,0,0,0,0,0,0,0,0
289,4,1.75,2950.0,9025.0,1.0,2,8,1780.0,1170,43,...,0,0,0,1,0,0,0,0,0,0
9899,3,2.00,1610.0,3600.0,2.0,2,8,1610.0,0,93,...,0,0,0,1,0,0,0,0,0,0

In [21]:
Y_train

9602      385000.0
10113     555000.0
13472     485000.0
1563      828500.0
11880     440000.0
           ...
9698      462000.0
20931    1129575.0
15904     427500.0
289       630000.0
9899      735000.0
Name: Sale_Price, Length: 15126, dtype: float64

In [22]:
X_test

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
18330,3,1.00,1200.0,7000.0,2.0,0,7,1200.0,0,110,...,0,0,0,0,1,0,0,0,0,0
21440,3,2.00,1870.0,5300.0,1.0,0,8,1870.0,0,9,...,0,0,0,0,1,0,0,0,0,0
15786,3,1.75,1850.0,22767.0,1.5,4,6,1850.0,0,110,...,0,0,0,0,1,0,0,0,0,0
10800,4,2.50,2620.0,8331.0,2.0,0,9,2620.0,0,27,...,0,1,0,0,0,0,0,0,0,0
440,2,1.00,1420.0,5332.0,1.0,0,8,1070.0,350,65,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9121,3,1.00,1020.0,8625.0,1.0,0,7,1020.0,0,40,...,0,0,1,0,0,0,0,0,0,0
17025,4,2.00,1700.0,21780.0,1.0,0,6,1080.0,620,78,...,0,0,0,0,1,0,0,0,0,0
1592,3,1.75,1620.0,4200.0,1.0,0,7,830.0,790,73,...,0,0,0,0,1,0,0,0,0,0
17332,4,2.50,2030.0,39049.0,1.0,0,7,1530.0,500,65,...,0,0,1,0,0,0,0,0,0,0
11674,5,3.25,3950.0,11438.0,2.0,2,10,3430.0,520,12,...,0,0,0,0,0,1,0,0,0,0

In [23]:
Y_test

18330     130000.0
21440     580000.0
15786     572000.0
10800     460000.0
440       641000.0
           ...
9121      245000.0
17025     445000.0
1592      500000.0
17332     515000.0
11674    1129575.0
Name: Sale_Price, Length: 6483, dtype: float64

In [24]:
X_train.shape

(15126, 30)

In [25]:
Y_train.shape

(15126,)

In [26]:
X_test.shape

(6483, 30)

In [27]:
Y_test.shape

(6483,)

# Standardisation

In [30]:
from sklearn import preprocessing
scale=preprocessing.StandardScaler()

In [31]:
X_train=scale.fit_transform(X_train)

In [34]:
X_train

array([[ 0.6766667 , -0.46324671, -0.38715445, ..., -0.11338681,
        -0.1667063 , -0.05084296],
       [ 1.74150862,  1.15352066,  1.6767119 , ..., -0.11338681,
        -0.1667063 , -0.05084296],
       [ 0.6766667 , -0.46324671, -0.69888427, ..., -0.11338681,
        -0.1667063 , -0.05084296],
       ...,
       [ 0.6766667 ,  0.50681371,  0.40829404, ..., -0.11338681,
        -0.1667063 , -0.05084296],
       [ 0.6766667 , -0.46324671,  0.93500993, ..., -0.11338681,
        -0.1667063 , -0.05084296],
       [-0.38817522, -0.13989324, -0.5053968 , ..., -0.11338681,
        -0.1667063 , -0.05084296]])

In [35]:
X_test= scale.fit_transform(X_test)

In [36]:
X_test

array([[-0.42441649, -1.48166365, -0.98809176, ..., -0.10963568,
        -0.17375925, -0.04122656],
       [-0.42441649, -0.17044972, -0.23509773, ..., -0.10963568,
        -0.17375925, -0.04122656],
       [-0.42441649, -0.4982532 , -0.25757516, ..., -0.10963568,
        -0.17375925, -0.04122656],
       ...,
       [-0.42441649, -0.4982532 , -0.51606565, ..., -0.10963568,
        -0.17375925, -0.04122656],
       [ 0.67706153,  0.48515724, -0.05527826, ..., -0.10963568,
        -0.17375925, -0.04122656],
       [ 1.77853955,  1.46856769,  2.10255537, ..., -0.10963568,
        -0.17375925, -0.04122656]])